<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Manager</title>
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <%= yield %>

    <br><br>
    <form name = "search" action = "/search?search=<% params[:search]%>" method = "get">Search:
    <input type="text" placeholder="Search..." name="search">
    </form>
    <br>
    <a href= "/">All Contacts</a> <a href = "/new_contact">Add Contact</a>
  </body>
</html>
