<h1>Add New Contacts</h1>

<form name = "new_contact" action = "/new_contact" method = "post">New Contact:
  <input type="text" placeholder="First name" name="first_name">
  <input type="text" placeholder="Last name" name="last_name">
  <input type="text" placeholder="Phone number" name="phone_number">
  <input type = "submit">
</form>
